<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <title>指间阁_赖忠标_Web开发技术博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="专注于互联网行业、专业于代码编程开发">
<meta property="og:type" content="website">
<meta property="og:title" content="指间阁_赖忠标_Web开发技术博客">
<meta property="og:url" content="http://www.9oyu.com/index.html">
<meta property="og:site_name" content="指间阁_赖忠标_Web开发技术博客">
<meta property="og:description" content="专注于互联网行业、专业于代码编程开发">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="指间阁_赖忠标_Web开发技术博客">
<meta name="twitter:description" content="专注于互联网行业、专业于代码编程开发">
  
    <link rel="alternative" href="/atom.xml" title="指间阁_赖忠标_Web开发技术博客" type="application/atom+xml">
  
  
    <link rel="icon" href="/favicon.png">
  
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="container">
    <div class="left-col">
    <div class="overlay"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/" class="profilepic">
			
			<img lazy-src="img/author.jpg" class="js-avatar">
			
		</a>

		<hgroup>
		  <h1 class="header-author"><a href="/">赖忠标</a></h1>
		</hgroup>

		
		<p class="header-subtitle">抱怨没有用、一切靠自己</p>
		

		
			<div class="switch-btn">
				<div class="icon">
					<div class="icon-ctn">
						<div class="icon-wrap icon-house" data-idx="0">
							<div class="birdhouse"></div>
							<div class="birdhouse_holes"></div>
						</div>
						<div class="icon-wrap icon-ribbon hide" data-idx="1">
							<div class="ribbon"></div>
						</div>
						
						<div class="icon-wrap icon-link hide" data-idx="2">
							<div class="loopback_l"></div>
							<div class="loopback_r"></div>
						</div>
						
						
						<div class="icon-wrap icon-me hide" data-idx="3">
							<div class="user"></div>
							<div class="shoulder"></div>
						</div>
						
					</div>
					
				</div>
				<div class="tips-box hide">
					<div class="tips-arrow"></div>
					<ul class="tips-inner">
						<li>Menu</li>
						<li>Tags</li>
						
						<li>Links</li>
						
						
						<li>Über</li>
						
					</ul>
				</div>
			</div>
		

		<div class="switch-area">
			<div class="switch-wrap">
				<section class="switch-part switch-part1">
					<nav class="header-menu">
						<ul>
						
							<li><a href="/">主页</a></li>
				        
							<li><a href="/archives">所有文章</a></li>
				        
							<li><a href="/tags/随笔">随笔</a></li>
				        
						</ul>
					</nav>
					<nav class="header-nav">
						<div class="social">
							
								<a class="github" target="_blank" href="#" title="github">github</a>
					        
								<a class="weibo" target="_blank" href="#" title="weibo">weibo</a>
					        
								<a class="rss" target="_blank" href="#" title="rss">rss</a>
					        
								<a class="zhihu" target="_blank" href="#" title="zhihu">zhihu</a>
					        
						</div>
					</nav>
				</section>
				
				
				<section class="switch-part switch-part2">
					<div class="widget tagcloud" id="js-tagcloud">
						<a href="/tags/Angularjs/" style="font-size: 10px;">Angularjs</a> <a href="/tags/Python/" style="font-size: 10px;">Python</a> <a href="/tags/优美散文/" style="font-size: 10px;">优美散文</a> <a href="/tags/散文-随笔/" style="font-size: 10px;">散文 随笔</a> <a href="/tags/运营策划/" style="font-size: 10px;">运营策划</a>
					</div>
				</section>
				
				
				
				<section class="switch-part switch-part3">
					<div id="js-friends">
					
			          <a target="_blank" class="main-nav-link switch-friends-link" href="/">奥巴马的博客</a>
			        
			          <a target="_blank" class="main-nav-link switch-friends-link" href="/">卡卡的美丽传说</a>
			        
			          <a target="_blank" class="main-nav-link switch-friends-link" href="/">本泽马的博客</a>
			        
			          <a target="_blank" class="main-nav-link switch-friends-link" href="/">吉格斯的博客</a>
			        
			          <a target="_blank" class="main-nav-link switch-friends-link" href="/">习大大大不同</a>
			        
			          <a target="_blank" class="main-nav-link switch-friends-link" href="/">托蒂的博客</a>
			        
			        </div>
				</section>
				

				
				
				<section class="switch-part switch-part4">
				
					<div id="js-aboutme">我是谁，我从哪里来，我到哪里去？我就是我，是颜色不一样的吃货…</div>
				</section>
				
			</div>
		</div>
	</header>				
</div>

    </div>
    <div class="mid-col">
      <nav id="mobile-nav">
  	<div class="overlay">
  		<div class="slider-trigger"></div>
  		<h1 class="header-author js-mobile-header hide">赖忠标</h1>
  	</div>
	<div class="intrude-less">
		<header id="header" class="inner">
			<div class="profilepic">
			
				<img lazy-src="img/author.jpg" class="js-avatar">
			
			</div>
			<hgroup>
			  <h1 class="header-author">赖忠标</h1>
			</hgroup>
			
			<p class="header-subtitle">抱怨没有用、一切靠自己</p>
			
			<nav class="header-menu">
				<ul>
				
					<li><a href="/">主页</a></li>
		        
					<li><a href="/archives">所有文章</a></li>
		        
					<li><a href="/tags/随笔">随笔</a></li>
		        
		        <div class="clearfix"></div>
				</ul>
			</nav>
			<nav class="header-nav">
				<div class="social">
					
						<a class="github" target="_blank" href="#" title="github">github</a>
			        
						<a class="weibo" target="_blank" href="#" title="weibo">weibo</a>
			        
						<a class="rss" target="_blank" href="#" title="rss">rss</a>
			        
						<a class="zhihu" target="_blank" href="#" title="zhihu">zhihu</a>
			        
				</div>
			</nav>
		</header>				
	</div>
</nav>

      <div class="body-wrap">
  
    <article id="post-2016416" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2016/04/16/2016416/" class="article-date">
  	<time datetime="2016-04-16T11:40:32.000Z" itemprop="datePublished">2016-04-16</time>
</a>
    </div>
  
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2016/04/16/2016416/">Python2.75的安装及环境配置教程</a>
    </h1>
  

      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>Python的语法简洁，功能强大，有大量的第三方开发包（模块)，非常适合初学者上手。同时Python不像java一样对内存要求非常高，适合做一些经常性的任务方面的编程。根据codeeval网站数据统计显示，连续三年，Python保持着其在编程语言中的领先地位。而且Python-Django开发web也是一种时尚。</p>
<p>Python 2.75 安装文件<br>win8或win7</p>
<p>首先下载一个Python的应用程序，网上有很多的。此处给出官网的下载地址：<a href="https://www.python.org/downloads/" target="_blank" rel="external">https://www.python.org/downloads/</a></p>
<p>二进制包下载好，打开之后，点击Python的那个程序   等待安装，3分钟内吧，就好了。</p>
<p>安装时很简单的，但是Python要配置环境变量，这个很多童鞋就要注意啦，其实也是很简单的，只是对初学者来说有点不懂。</p>
<p>上面基本只是把python安装好了，但是你如果运行的话还是要输入地址路径感觉很麻烦，下面步骤就是教你配置环境变量！</p>
<p>1、首先找到你的Python的安装位置；（下面的是我的，一般没有改动的话都是在c盘）</p>
<p>2、如下是Python的位置，复制一下</p>
<p>3、接下来右键点击计算机图标，选择属性，进入如下界面</p>
<p>4、然后进入高级系统设置，如下，点击环境变量</p>
<p>5、然后在环境变量里系统变量中，找到path</p>
<p>6、选择编辑，在变量值后面添加之前的复制的Python的位置，在这前面加上英文的分号 ;</p>
<p>7、剩下就是检验Python是否装好  同时按住win键和R键，会出现如下的，点击确定，进入命令行；</p>
<p>8、在命令行输入python，出现如下的Python相关信息，就表示装好了Python2.75</p>
<p>以上就是全部教程，当你完成操作之后，会发现比想象的中要简单的多！加油吧！</p>
<p>谢谢支持！</p>
<p>参考文档：<a href="http://jingyan.baidu.com/article/c910274be14d64cd361d2dd8.html" target="_blank" rel="external">http://jingyan.baidu.com/article/c910274be14d64cd361d2dd8.html</a> </p>

      
    </div>
    
    <div class="article-info article-info-index">
      
      
	<div class="article-tag tagcloud">
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Python/">Python</a></li></ul>
	</div>

      

      
      <div class="clearfix"></div>
    </div>
    
  </div>
  
</article>









  
    <article id="post-2016330" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2016/03/30/2016330/" class="article-date">
  	<time datetime="2016-03-30T12:11:45.000Z" itemprop="datePublished">2016-03-30</time>
</a>
    </div>
  
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2016/03/30/2016330/">什么叫活着！</a>
    </h1>
  

      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>####导语：</p>
<blockquote>
<p>专注于互联网行业运营管理</p>
</blockquote>
<p>专业于代码编程PHP后台开发</p>
<p>##什么叫活着！</p>
<p>人生说到底，还是要靠自己。</p>
<p>生病了，自己去买药；</p>
<p>天冷了，记得加衣服；</p>
<p>感觉饿了，就去找吃的。</p>
<p>一切过不去的心情，睡一觉就好；</p>
<p>所有放不下的感情，给自己开导。</p>
<p>被人在乎，就掏出心来珍惜；</p>
<p>有人讨厌，就离他远一点。</p>
<p>忍耐久了，就发一次脾气；</p>
<p>压抑多了，就大哭一场。</p>
<p>看别人的眼色，</p>
<p>不如做自己的本色；</p>
<p>小心翼翼的撑着，</p>
<p>不如大大咧咧的活着。</p>
<p>人就这一辈子，别太对不起自己！</p>
<p>不是所有的疲惫，</p>
<p>都要说出来；不是所有的眼泪，</p>
<p>都要流出来。</p>
<p>汗水打湿了鬓角，才知生活的苦与累；</p>
<p>泪水吞进了肚里，才懂没人能真帮你。</p>
<p>你不屈，你不服，你从不认输，</p>
<p>心里的苦也从不说出；</p>
<p>你坚持，你坚韧，你一直坚守，</p>
<p>暗藏的泪流在无人处。</p>
<p>你很想歇一歇，但总有干不完的事情；</p>
<p>你渴望停一停，但还有离不开的家庭。</p>
<p>肩上的压力，</p>
<p>是生存的难题；心中的压抑，</p>
<p>又是不能说的委屈。</p>
<p>当泪水流下的一刻，</p>
<p>你有资格好好发泄；</p>
<p>当身体疲惫的时分，</p>
<p>你更有权力好好休息。</p>
<p>风雨以后，彩虹是倔强的美丽；脆弱过后，坚强是选择的唯一。</p>
<p>##个人介绍:</p>
<p>专注于互联网行业运营管理</p>
<p>专业于代码编程PHP后台开发</p>
<p>前端开发 博客 | 忠标博客-指间阁</p>
<p>域名：www.9oyu.com</p>
<p>作者：赖忠标  忠标科技</p>

      
    </div>
    
    <div class="article-info article-info-index">
      
      
	<div class="article-tag tagcloud">
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/优美散文/">优美散文</a></li></ul>
	</div>

      

      
      <div class="clearfix"></div>
    </div>
    
  </div>
  
</article>









  
    <article id="post-2106321" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2016/03/21/2106321/" class="article-date">
  	<time datetime="2016-03-21T04:45:23.000Z" itemprop="datePublished">2016-03-21</time>
</a>
    </div>
  
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2016/03/21/2106321/">一篇文章带你初步了解互联网运营</a>
    </h1>
  

      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>在互联网产品中，产品、技术、运营这三个岗位都是密不可分的，<br>而运营以产品的业务为中心，负责了拉新→留存→促活，通过各种运营和推广手段新增产品用户，<br>并通过活动、策划、产品策略调整等手段促使用户进行消费或多次消费。<br>    在了解互联网运营的过程中，首先我们需要知道互联网平台盈利模式有多少种，以区别于传统企业。<br>互联网盈利模式可以概括分为四种，分别是：广告，游戏，电商，增值服务，具体何种平台属于何种盈利模式，<br>相应的运营方法也会有所不同。<br>    运营到底是个什么鬼？运营就是一个喜当爹的角色，并要负责把孩子养大。那么，这种喜当爹的角色可以分为几种呢？<br>运营在互联网中主要可以分为这几类：</p>
<p>###1、内容运营<br>通过自己的创意和专业知识生产符合平台用户的高质量的内容，提高用户对产品的粘性，并直接对平台的内容阅读量、传播量、互动量负责，并根据运营过程调整产品呈现方式。在内容运营中，根据内容的产生者又会分为UGC（用户生产内容）、PGC（专业生产内容）、OGC（职业生产内容），这几种类型的内容价值也是逐步递进的。</p>
<p>###2、用户运营<br>用户运营当然以用户为中心，根据用户需求调整活动过程与产品策略和规则，使用户价值最大化，提升用户在产品中的消费能力。</p>
<p>###3、活动运营<br>活动运营目的主要为产品带来新增用户或引导用户产生新消费，根据目标导向，通过各种联合资源与渠道进行线上线下活动来达到运营的目的。</p>
<p>###4、产品运营<br>产品运营需要结合内容、用户、活动一起，运营人员需要熟悉常识，有逻辑分析能力，熟悉产品，通过各种运营手段和用户流量分析，来调整产品的策略，以及引导产品的发展通道。</p>
<p>除了这几类，另外还有新媒体运营，APP运营，SEO/SEM，流量运营，电商运营，渠道运营，社区运营，QQ群运营，编辑等。</p>
<p>了解了运营分分类，作为运营人员，在养孩子之前，还是需要了解孩子的分类，那就是平台的种类，才能更好地开始运营之路。互联网平台可分为：</p>
<p>###1、工具类，如安全卫士、手机助手；<br>工具类产品，主要进行产品运营，此类产品需要通过各种渠道和活动获取大量的新增用户，然后调整产品策略，进行用户维系和运营盈利。</p>
<p>###2、社交类，如：论坛，微博；<br>社交类产品，需要运营人员了解用户，并且在用户中不断产生话题和互动，需要各种活动提高用户交流、互动与传播，并通过用户流量分析调整产品策略。</p>
<p>###3、内容类，如：今日头条、一点资讯；<br>内容类产品，很显然需要的就是原创的高质量的内容，需要运营人员不断输出高质量传播量高的内容，通过活动与内容策划来提高内容的阅读量、传播量与转化消费。</p>
<p>###4、电商类，如：京东，淘宝；<br>电商类产品，需要进行商品类目运营，线上商品促销活动，用户维系等，当然商品内容文案同样重要。</p>
<p>###5、游戏类，如：魔兽，LOL；<br>游戏类产品需要大流量，通过各种渠道推广，根据推广数据调整渠道流量和产品策略，增加游戏的变现能力，如：游戏道具费用增加。</p>
<p>###6、平台类，如：滴滴，嗒嗒；<br>这类产品重视产品策略，需要通过对用户的分析，来新增或减少平台的功能，并通过市场活动、产品来维系用户。</p>
<p>总的来说，运营就做了一件事，把产品生的“孩子”健康的养大。那就是围绕着这款产品进行的拉新→留存→促活所做的所有事情，包括内容、活动策划、产品策略、用户维系等在此产品上进行的所有人工干预。</p>
<p>运营策划  策划 | 赖忠标  北京朝阳望京  全栈工程师</p>

      
    </div>
    
    <div class="article-info article-info-index">
      
      
	<div class="article-tag tagcloud">
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/运营策划/">运营策划</a></li></ul>
	</div>

      

      
      <div class="clearfix"></div>
    </div>
    
  </div>
  
</article>









  
    <article id="post-201638" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2016/03/09/201638/" class="article-date">
  	<time datetime="2016-03-08T16:47:53.000Z" itemprop="datePublished">2016-03-09</time>
</a>
    </div>
  
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2016/03/09/201638/">带你进入Angular js的大门</a>
    </h1>
  

      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>这是我写的第一篇关于Angular.js的文章，</p>
<p>但是我确信看完这篇文章将对你了解Angular.js的基本知识有很大的帮助。</p>
<p>首先需要指出什么是angular js，其实说白了angular js就是Javascript的一个类库，我们使用这个类库可以很容易的创建web页面。双向绑定是angular js其中的一个重要特征，这也是相对于其他的Javascript的类库来说angular js中很重要的特征。双向绑定即是当你修改任何属性的值的时候，相关联的html元素也将改变，你并不需要额外的去修改。</p>
<p>Angular js还为我们提供了MVVM（Model View ViewModel）的模型。MVVM的意思就是说Model是一个真实的对象，我们使用这个对象创建需要在页面显示的模型，并且调用视图模型。View（视图）即是我们需要输出的页面。</p>
<h2 id="带你进入Angular-js的大门"><a href="#带你进入Angular-js的大门" class="headerlink" title="带你进入Angular js的大门"></a>带你进入Angular js的大门</h2><h3 id="背景介绍"><a href="#背景介绍" class="headerlink" title="背景介绍"></a>背景介绍</h3><p>如果你没有使用angular js或者其它的和angular js有相似功能的类库，比如knockout.js，那么当我们编写代码的时候将会写更多更复杂的代码。所以说使用angular js编写应用程序更快更高效，并且比其它的类库更容易管理。</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明很在乎，却装作无所谓；</span><br></pre></td></tr></table></figure>
<h3 id="代码使用"><a href="#代码使用" class="headerlink" title="代码使用"></a>代码使用</h3><p>下面我们将通过一个简单的例子来逐渐的了解angular js。</p>
<p>为了更好的理解angular js的知识，我们使用asp.net作为后台的应用程序来实现简单的增删改查的操作，并且在这个例子中我们使用的是静态列表形式来展现增删改查的操作。</p>
<p>在数据模型中有5个属性，UserName、Address、Salary、IsMarried和Email。在视图中列出了这些属性的记录，并且在每一条数据后面都有一个删除和修改按钮。通过这些按钮我们能创建、修改和删除静态列表。</p>
<p>现在首先让我们了解一下以下例子中使用到的属性的含义</p>
<p>data-ng-app——表明这是angular 要处理的元素</p>
<p>data-ng-controller——指定用来处理此元素的angular 控制器</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">&lt;div id=<span class="string">"divUserList"</span> data-ng-app=<span class="string">"userApp"</span> data-ng-controller=<span class="string">"userAppCtrl"</span>&gt; &lt;/div&gt;</span><br></pre></td></tr></table></figure>
<p>data-ng-bind——指定该元素绑定model中的哪个属性（上面列出的UserName、Address、Salary、IsMarried或者是Email）</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">&lt;strong data-ng-bind=<span class="string">"UserName"</span>&gt;&lt;/strong&gt;</span><br></pre></td></tr></table></figure>
<p>比如UserName是Model的属性并且将该属性绑定到定义的元素</p>
<p>data-ng-repeat——用来指定循环的数据</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">&lt;tr data-ng-repeat=<span class="string">"x in UserData | limitTo:20"</span>  &gt;</span><br></pre></td></tr></table></figure>
<p>使用上面的语法，我们对UserData这个angular 对象属性进行循环，取出里面的数据。limitTo:20表明最多循环20次，这是angular中的一个过滤器。当然angular.js中还可以使用其他的过滤器，比如uppercase、lowercase和currency等。</p>
<p>data-ng-click——用来绑定点击事件</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">&lt;input <span class="built_in">type</span>=<span class="string">"button"</span> id=<span class="string">"btnDelete"</span> value=<span class="string">"Delete"</span> data-ng-click=<span class="string">"DeleteRow(<span class="variable">$index</span>)"</span> /&gt;</span><br></pre></td></tr></table></figure>
<p>$index——表示循环中的索引</p>
<p>data-ng-model——将angular 模型应用于html dom中，这表示当修改input输入框中的值时相应的model中的属性也会改变</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">&lt;input <span class="built_in">type</span>=<span class="string">"text"</span> data-ng-model=<span class="string">"UserName"</span> required /&gt;</span><br></pre></td></tr></table></figure>
<p>data-ng-disabled——通过该属性的值来禁用某个元素或者不禁用</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">&lt;input <span class="built_in">type</span>=<span class="string">"button"</span> id=<span class="string">"btnSaveAll"</span> value=<span class="string">"Save"</span> data-ng-click=<span class="string">"SaveRecord()"</span> data-ng-disabled=<span class="string">"CheckRecord()"</span> /&gt;</span><br></pre></td></tr></table></figure>
<p>$http用来指定服务端的地址；$interval 和 $timeout就类似于jquery中的interval和timeout，这两个变量在这个例子中只是定义但并没有被使用到，其工作原理和jquery中的相同；$window的定义和Javascript中的window对象相同，使用这个变量可以实现你想用window对象实现的效果。</p>
<p>以上就是本文的整体内容，希望对你有所帮助。</p>
<p>作者：赖忠标  2016.3.9  指间阁</p>

      
    </div>
    
    <div class="article-info article-info-index">
      
      
	<div class="article-tag tagcloud">
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Angularjs/">Angularjs</a></li></ul>
	</div>

      

      
      <div class="clearfix"></div>
    </div>
    
  </div>
  
</article>









  
    <article id="post-201637" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2016/03/07/201637/" class="article-date">
  	<time datetime="2016-03-07T12:04:39.000Z" itemprop="datePublished">2016-03-07</time>
</a>
    </div>
  
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2016/03/07/201637/">似是初见、终是诀别</a>
    </h1>
  

      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>  有些习惯就像胎记一样与生俱来无可涂改，我越来越喜欢怀恋。<br>  回忆某一段老掉牙的过去，想念过去漫长又漫长的琐碎，想念那时无奈又欢欣的年少时光。<br>  总是被人问及，为什么从不主动跟任何人打招呼。其实我只是习惯了一个人，习惯了一个人安静的蜷缩在自己的角落里。<br>  舔 舐着过去现在，固守着自己认为还算坚固的城防。其实所有的淡漠，只是因为不知如何快乐。疼我的人很多，我不是不满足 ，只是再无法像当初毫无顾及，因为我一直都在不断的失去。??</p>
<p>  很多东西，总以为自己努力了就会得到，却不得不接受 最后而来的结果 ，一些变故总让人不知所措。于是整个人也被分割开来，一半固守往事，一半执着前行。</p>
<p>  曾经的想法很单纯，只是为了寻找一个一样单纯的人，只是一个即使第一次见面，即使陌生的拥抱 ，也可以让我很安心<br>  只是一个可以接受偶尔黏人的我？可以有彼此的自由空间，却也可以随时接听对方的 电话？仅仅是为了让对方知道：我想你了。</p>
<p>  有没有一个人，在我们拥抱之后，让我不想松手。只是一个，让我不担心背叛不担心欺骗，可以放心的爱。遇上了，直到自己愿意用 一辈子 的时间， 珍惜 那个人。</p>
<p>  谁先说喜欢，谁先牵起谁的手，谁的笑靥如花，闭上眼，仿佛就 回到了那一天。所有过去历历在目，却惟有坦然现在。繁华 盛夏 、一场相遇，似是初见、终是诀别。</p>
<p>##岁月如梭，光阴荏苒<br>转眼间，与你已相识4年<br>剪一片时光，回忆缓缓飘落眼前<br>曾无奈，曾抱怨<br>曾彷徨，曾呐喊<br>但从未感觉到孤单<br>从未止步于今天<br>因为一路有你，有你相伴<br>厚厚一叠的羁绊，在你我之间…<br>人生总在演绎着太多的关于<br>其实，我们都一样，为别人的故事欢笑着，却为自己的故事哭泣着。</p>
<pre><code>---作者：赖忠标 Hexo-SpiriTGuy
</code></pre>
      
    </div>
    
    <div class="article-info article-info-index">
      
      
	<div class="article-tag tagcloud">
		<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/散文-随笔/">散文 随笔</a></li></ul>
	</div>

      

      
      <div class="clearfix"></div>
    </div>
    
  </div>
  
</article>









  
    <article id="post-201637-1" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2016/03/07/201637-1/" class="article-date">
  	<time datetime="2016-03-07T10:46:24.703Z" itemprop="datePublished">2016-03-07</time>
</a>
    </div>
  
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2016/03/07/201637-1/">我今年二十七八岁</a>
    </h1>
  

      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>偶尔会有寂寞，偶尔会怀念一个人；<br>我们开始追逐梦想，不会再轻易流泪，不会再为了一点挫折而放弃…<br>没有了年少的轻狂，把遇到的挫折困难都当作一种人生的阅历，试着去包容试着去忍耐…<br>回想起曾经，我们做了太多的错事，走了太多的弯路 ，我们总在后悔，可是我们回不去了，回不去那个曾经纯真的年代了。<br>当我们被社会上无形的压力压得喘不过气的时候，我们渴望曾经的那份爱，渴望每天下班能有一个人一起吃饭，一起看电影，我们需要有一个人，来为我们分担一些东西。<br>我们在一条伟大的航路上，我们需要有人为我们鼓劲，也许我们偶尔累倒想放弃，可是当我们想到身边还有个让我们挂念的一个人，深吸一口气，继续向前走，我相信，总有一个能够停靠的彼岸。</p>
<h2 id="我今年二十七八岁"><a href="#我今年二十七八岁" class="headerlink" title="我今年二十七八岁"></a>我今年二十七八岁</h2><h3 id="明明很想哭，却还在笑；"><a href="#明明很想哭，却还在笑；" class="headerlink" title="明明很想哭，却还在笑；"></a>明明很想哭，却还在笑；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明很在乎，却装作无所谓；</span><br></pre></td></tr></table></figure>
<p>明明很想留下，却坚定地说要离开；</p>
<h3 id="明明很痛苦，却偏偏说自己很幸福；"><a href="#明明很痛苦，却偏偏说自己很幸福；" class="headerlink" title="明明很痛苦，却偏偏说自己很幸福；"></a>明明很痛苦，却偏偏说自己很幸福；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明忘不掉，却说已经忘了；</span><br></pre></td></tr></table></figure>
<p>明明放不下，却说她是她，我是我；</p>
<h3 id="明明舍不得，却说我已经受够了；"><a href="#明明舍不得，却说我已经受够了；" class="headerlink" title="明明舍不得，却说我已经受够了；"></a>明明舍不得，却说我已经受够了；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明说的是违心的假话，却说那是自己的真心话；</span><br></pre></td></tr></table></figure>
<p>明明眼泪都快溢出眼眶，却高昂着头；</p>
<h3 id="明明已经无法挽回，却依旧执着；"><a href="#明明已经无法挽回，却依旧执着；" class="headerlink" title="明明已经无法挽回，却依旧执着；"></a>明明已经无法挽回，却依旧执着；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明知道自己很受伤，却说你不必觉得欠我的；</span><br></pre></td></tr></table></figure>
<p>明明这样『伪装』得很累，却还得依旧…</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明说的是违心的假话，却说那是自己的真心话；</span><br></pre></td></tr></table></figure>
<p>为得只是隐藏自己的脆弱，即使很难过，也会装的无所谓…</p>
<h3 id="只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…"><a href="#只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…" class="headerlink" title="只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…"></a>只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 只想在心底独自承受，虽然心疼的难以呼吸，却笑着告诉所有人“我没事的！”然后静下来时，自己便笑话自己，何必把自己伪装得这么坚强？好像自己可以承受所有的苦难…</span><br></pre></td></tr></table></figure>
<p>呵…这好累，好累！！！</p>
<p>More info:作者 | 赖忠标  2016.3.7  指间阁</p>

      
    </div>
    
    <div class="article-info article-info-index">
      
      
      

      
      <div class="clearfix"></div>
    </div>
    
  </div>
  
</article>









  
    <article id="post-hello-world" class="article article-type-post" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/2016/03/07/hello-world/" class="article-date">
  	<time datetime="2016-03-07T01:52:40.147Z" itemprop="datePublished">2016-03-07</time>
</a>
    </div>
  
  <div class="article-inner">
    
      <input type="hidden" class="isFancy" />
    
    
      <header class="article-header">
        
  
    <h1 itemprop="name">
      <a class="article-title" href="/2016/03/07/hello-world/">我今年二十七八岁</a>
    </h1>
  

      </header>
      
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>偶尔会有寂寞，偶尔会怀念一个人；<br>我们开始追逐梦想，不会再轻易流泪，不会再为了一点挫折而放弃…<br>没有了年少的轻狂，把遇到的挫折困难都当作一种人生的阅历，试着去包容试着去忍耐…<br>回想起曾经，我们做了太多的错事，走了太多的弯路 ，我们总在后悔，可是我们回不去了，回不去那个曾经纯真的年代了。<br>当我们被社会上无形的压力压得喘不过气的时候，我们渴望曾经的那份爱，渴望每天下班能有一个人一起吃饭，一起看电影，我们需要有一个人，来为我们分担一些东西。<br>我们在一条伟大的航路上，我们需要有人为我们鼓劲，也许我们偶尔累倒想放弃，可是当我们想到身边还有个让我们挂念的一个人，深吸一口气，继续向前走，我相信，总有一个能够停靠的彼岸。</p>
<h2 id="我今年二十七八岁"><a href="#我今年二十七八岁" class="headerlink" title="我今年二十七八岁"></a>我今年二十七八岁</h2><h3 id="明明很想哭，却还在笑；"><a href="#明明很想哭，却还在笑；" class="headerlink" title="明明很想哭，却还在笑；"></a>明明很想哭，却还在笑；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明很在乎，却装作无所谓；</span><br></pre></td></tr></table></figure>
<p>明明很想留下，却坚定地说要离开；</p>
<h3 id="明明很痛苦，却偏偏说自己很幸福；"><a href="#明明很痛苦，却偏偏说自己很幸福；" class="headerlink" title="明明很痛苦，却偏偏说自己很幸福；"></a>明明很痛苦，却偏偏说自己很幸福；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明忘不掉，却说已经忘了；</span><br></pre></td></tr></table></figure>
<p>明明放不下，却说她是她，我是我；</p>
<h3 id="明明舍不得，却说我已经受够了；"><a href="#明明舍不得，却说我已经受够了；" class="headerlink" title="明明舍不得，却说我已经受够了；"></a>明明舍不得，却说我已经受够了；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明说的是违心的假话，却说那是自己的真心话；</span><br></pre></td></tr></table></figure>
<p>明明眼泪都快溢出眼眶，却高昂着头；</p>
<h3 id="明明已经无法挽回，却依旧执着；"><a href="#明明已经无法挽回，却依旧执着；" class="headerlink" title="明明已经无法挽回，却依旧执着；"></a>明明已经无法挽回，却依旧执着；</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明知道自己很受伤，却说你不必觉得欠我的；</span><br></pre></td></tr></table></figure>
<p>明明这样『伪装』得很累，却还得依旧…</p>
<figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 明明说的是违心的假话，却说那是自己的真心话；</span><br></pre></td></tr></table></figure>
<p>为得只是隐藏自己的脆弱，即使很难过，也会装的无所谓…</p>
<h3 id="只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…"><a href="#只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…" class="headerlink" title="只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…"></a>只是不愿别人看见自己的伤口，不让自己周围的人担心，不想别人同情自己…</h3><figure class="highlight bash"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$ 只想在心底独自承受，虽然心疼的难以呼吸，却笑着告诉所有人“我没事的！”然后静下来时，自己便笑话自己，何必把自己伪装得这么坚强？好像自己可以承受所有的苦难…</span><br></pre></td></tr></table></figure>
<p>呵…这好累，好累！！！</p>
<p>More info:作者 | 赖忠标  2016.3.7  指间阁</p>

      
    </div>
    
    <div class="article-info article-info-index">
      
      
      

      
      <div class="clearfix"></div>
    </div>
    
  </div>
  
</article>









  
  
</div>
      <footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; 2016 赖忠标
    	</div>
      	<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>
    </div>
    
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css">


<script>
	var yiliaConfig = {
		fancybox: true,
		mathjax: true,
		animate: true,
		isHome: true,
		isPost: false,
		isArchive: false,
		isTag: false,
		isCategory: false,
		open_in_new: false
	}
</script>
<script src="http://7.url.cn/edu/jslib/comb/require-2.1.6,jquery-1.9.1.min.js"></script>
<script src="/js/main.js"></script>






<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
});

MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';                 
    }       
});
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


  </div>
</body>
</html>